<div class="ws_bullets">
	<div>
		<a href="http://artemed.dev.blackpointart.pl/files/large/0addda20fd4403de09a233bfa4b2b3b9.jpg"></a>
		<a href="http://artemed.dev.blackpointart.pl/files/large/d9028282c8050ecd43539e66ec40931f.jpg"></a>
		<a href="http://artemed.dev.blackpointart.pl/files/large/a735317b376c9c88b01fad1b1ece2408.jpg"></a>
		<a href="http://artemed.dev.blackpointart.pl/files/large/3868a949273dc0a29286930bf6ee5cff.jpg"></a>
		<a href="http://artemed.dev.blackpointart.pl/files/large/c4155669a103b98cd4874edfe444ba0f.jpg"></a>
    </div>
</div>