$main-theme: #ffa929;
$link-nav: #828282;
$nav: #d8d8d8;
$nav-border: #ebebeb;
$text: #2c2c2c;

$mobileBg: #ffa929;

$light-theme: adjust-lightness($main-theme, -10%);

.trans {
	@include transition-property(all);
	@include transition-duration(0.4s);
	@include transition-timing-function(ease-in-out);
}
.navbar.navbar-default {
	border-radius:0;
}
/* #main-navigation li:first-child a{
	padding: 5px 37px;
} */

/* Menu box
===================*/

	.sm-artemed {
		span.home-txt {
			display: none;
		}
		ul {
			border:1px solid $nav-border;
			background:#fff;
		}
		.sub-menu {
			@include box-shadow(rgba(black, 0.1) 3px 3px 6px 0);
			ul {
				@include box-shadow(rgba(black, 0.1) 3px 3px 6px 0);
			}
			a {
				font-size: 14px;
			}
			.sub-arrow {
				&:after {
					position: absolute;
					width:0;
					height:0;
					overflow:hidden;
					border-width:6px; /* tweak size of the arrow */
					border-style:dashed dashed dashed solid;
					border-color:transparent transparent transparent $link-nav;
					content: "";
					left:0;
					top: 0;
				}
			}
		}
	}



/* Menu items
===================*/

	.sm-artemed {
		a {
			padding:12px 40px;
			color: $link-nav;
			font-size: 18px;
			line-height: 18px;
			font-family:'Open Sans',Arial,sans-serif;
			text-decoration:none;
			text-transform: uppercase;
			text-align: center;

		}

		> li > a {
			&:after {
				background: url("../images/icons/arrow-orange-down.png") no-repeat 0 0;
				position: absolute;
				top: -10px;
				left: 50%;
				width: 15px;
				height: 10px;
				margin-left: -7px;
				content:"";
				display: none;
			}
		}
		> li > a.omega:after {
			left: 93px;
		}
		> li:first-child > a {
			&:after {
				left: 14px;
			}
		}
		/* li:first-child a {
			padding-bottom: 9px;
		    		padding-top: 9px;
		} */
			
	}

	.sm-artemed li > a:hover:after, 
	.sm-artemed li > a:focus:after, 
	.sm-artemed li > a:active:after,
	.sm-artemed li > a.highlighted:after {
		display: block;
	}
	.sm-artemed li > a:hover, 
	.sm-artemed li > a:focus, 
	.sm-artemed li > a:active,
	.sm-artemed li > a.active,
	.sm-artemed li > a.highlighted {
		color: $main-theme;
	}
	.sm-artemed li > a:hover .ico.home, 
	.sm-artemed li > a:focus .ico.home, 
	.sm-artemed li > a:active .ico.home,
	.sm-artemed li > a.active .ico.home,
	.sm-artemed li > a.highlighted .ico.home{
		background-position: 0 -384px;
	}

	/* current items - add the class manually to some item or check the "markCurrentItem" script option */
/* 	.sm-artemed a.current, .sm-artemed a.current:hover, .sm-artemed a.current:focus, .sm-artemed a.current:active {
	background:#555;
	color:#fff;
}
.sm-artemed a.has-submenu {
	padding-right:32px;
}
 	.sm-artemed ul a.has-submenu,
.sm-artemed-vertical a.has-submenu {
	padding-right:23px;
} */


/* Sub menu indicators
===================*/

	.sm-artemed a span.sub-arrow {
		position:absolute;
		right: 2px;
		top:50%;
		margin-top:-6px;
		width:12px;
		height:12px;
		line-height:12px;
	}
 	.sm-artemed ul a span.sub-arrow,
	.sm-artemed-vertical a span.sub-arrow {
		right: 2;
		margin-right:0;
	}


/* Items separators
===================*/

	.sm-artemed li {
		border-left:1px solid $main-theme;
	}
	.sm-artemed li:first-child {
		border-left:0;
	}
	.sm-artemed ul li,
	.sm-artemed-vertical li {
		border-left: 0;
		/* border-top: 1px solid $main-theme; */
		background-image: url('../images/nav_horizontal_separator.png');
		background-repeat: no-repeat;
		background-position: center 0;
	}
	.sm-artemed ul li:first-child,
	.sm-artemed-vertical li:first-child {
		border-top:0;
		background-image: none;
	}


/* Scrolling arrows containers for tall sub menus - test sub menu: "Sub test" -> "more..." -> "more..." in the default download package
===================*/

	.sm-artemed span.scroll-up, .sm-artemed span.scroll-down {
		position:absolute;
		display:none;
		visibility:hidden;
		overflow:hidden;
		border:solid #bbb;
		border-width:1px 0;
		background:#fff;
		height:22px;
		/* width and position will be automatically set by the script */
	}
	.sm-artemed span.scroll-up-arrow, .sm-artemed span.scroll-down-arrow {
		position:absolute;
		top:-2px;
		left:50%;
		margin-left:-8px;
		/* we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too */
		width:0;
		height:0;
		overflow:hidden;
		border-width:8px; /* tweak size of the arrow */
		border-style:dashed dashed solid dashed;
		border-color:transparent transparent #555 transparent;
	}
	.sm-artemed span.scroll-down-arrow {
		top:6px;
		border-style:solid dashed dashed dashed;
		border-color:#555 transparent transparent transparent;
	}

/* Kombinacje z hamburgerem w celu połaczenia z menu bootstrapa nadpisywanie klass bootstrapa */

#page-header {
	.navbar {
		border: 0;
	    min-height: 40px;
		position: relative;
		z-index: 100;
	}
	.navbar-default {
		background: #FFF;
	}
	/* bergerking :P */
.navbar-toggle {
	left: 7%;
    margin: 0;
    position: absolute;
    top: 31px;
}
.cover-foto {
	height: 27%;
	margin: 0;
}
.company-logo-mobile {
	float:none;
	display: block;
	margin: 0 auto;
	img {
		margin: 4% auto;
	}
}

.img-contact {
	display: block;
    position: absolute;
    right: 6%;
    top: 20px;
	
	}
}
.navbar .navbar-toggle {
	&:hover,
	&:active,
	&:focus,
	&.active {
		.icon-bar {
			background-color: #FFF;
		}
	}
}
.navbar .lvl-2 {
	background: $nav;
}
/*
---------------------------------------------------------------
  Responsiveness
  These will make the sub menus collapsible when the screen width is too small.
---------------------------------------------------------------*/
@media screen and (max-width: 1199px) {
	.sm-artemed {
		a {
			padding:12px 26px;
			font-size: 17px;
		}
	}
}

@media screen and (max-width: 992px) {

	/* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */
	ul.sm-artemed{width:auto !important;}
	ul.sm-artemed ul{display:none;position:static !important;top:auto !important;left:auto !important;margin-left:0 !important;margin-top:0 !important;width:auto !important;min-width:0 !important;max-width:none !important;}
	ul.sm-artemed>li{float:none;}
	ul.sm-artemed>li>a,ul.sm-artemed ul.sm-nowrap>li>a{white-space:normal;}
	ul.sm-artemed iframe{display:none;}

	/* Uncomment this rule to disable completely the sub menus for small screen devices */
	/*.sm-artemed ul, .sm-artemed span.sub-arrow, .sm-artemed iframe {
		display:none !important;
	}*/


/* Menu box
===================*/

	.sm-artemed ul {
		border:0;
		/* darken the background of the sub menus */
		/* background:rgba(255,169,41,0.2); */
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;

	}


/* Menu items
===================*/
	
	.sm-artemed li > a:hover:after, 
	.sm-artemed li > a:focus:after, 
	.sm-artemed li > a:active:after,
	.sm-artemed li > a.highlighted:after {
		display: none;
	}
	.sm-artemed li > a:hover, 
	.sm-artemed li > a:focus, 
	.sm-artemed li > a:active,
	.sm-artemed li > a.active,
	.sm-artemed li > a.highlighted {
		color: #FFF;
		background: $light-theme;
	}

	.sm-artemed {
		.ico.home {
			display: none;
		}
		span.home-txt {
			display: block;
		}
		a {
			padding-top:23px;
			padding-bottom:23px;
			padding-left: 70px;
			/* background:transparent !important; */
			color:#fff;
			font-size: 34px;
			text-align: left;
			&.current {
				background:#555 !important;
				color:#fff !important;
			}
			&.has-submenu {
				padding-right:23px;
			}
		}
		.sub-menu {
			@include box-shadow(rgba(black, 0) 0 0 0 0);

			li > a:hover, 
			li > a:focus, 
			li > a:active,
			li > a.active,
			li > a.highlighted {
				color: $main-theme;
				background: none;
			}
			ul {
				@include box-shadow(rgba(black, 0) 0 0 0 0);
			}
			
			a {
				color: $link-nav;
				font-size: 30px;
				line-height: 1;
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
		ul li {
			border-top: 0;
			background-image: none !important;
		}
		> li > a {
			background-color: $main-theme;
		}
	}



	/* add some text indentation for the 2+ level sub menu items */
	.sm-artemed ul a {
		border-left:20px solid transparent;
	}
	.sm-artemed ul ul a {
		border-left:35px solid transparent;
	}
	.sm-artemed ul ul ul a {
		border-left:45px solid transparent;
	}
	.sm-artemed ul ul ul ul a {
		border-left:55px solid transparent;
	}
	.sm-artemed ul ul ul ul ul a {
		border-left:65px solid transparent;
	}


/* Sub menu indicators
===================*/

/* 	.sm-artemed a span.sub-arrow,
.sm-artemed .sub-menu span.sub-arrow {
	height: 30px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    right: 30px;
    top: 50%;
    width: 30px;
    &:after {
    	@include transition-property(all);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease);
		position: absolute;
		width:0;
		height:0;
		overflow:hidden;
		border-width: 15px; tweak size of the arrow
		border-style:dashed solid dashed dashed;
		border-color:transparent #FFF transparent transparent;
		content: "";
		left:0;
		top: 0;
    }
}
.sm-artemed a.highlighted span.sub-arrow,
.sm-artemed .sub-menu a.highlighted span.sub-arrow {
	margin-top: -15px;
    	right: 30px;
	&:after {
		-moz-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
} */

.sm-artemed a span.sub-arrow,
.sm-artemed .sub-menu span.sub-arrow {
	background-image: url('../images/icons/arrow-white-right.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 41px;
    line-height: 41px;
    width: 41px;
	@include transition-property(all);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease);
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -20px;
    &:after {
    	border: 0px;
    }
}
.sm-artemed .sub-menu span.sub-arrow {
	left: 12px;
}

.sm-artemed .sub-menu {
/* 		.has-submenu {
	padding-left: 64px;

} */
		span.sub-arrow {
			background-image: url('../images/icons/arrow-orange-right.png');	
		}
	} 
.sm-artemed a.highlighted span.sub-arrow,
.sm-artemed .sub-menu a.highlighted span.sub-arrow {
	margin-top: -21px;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	
}
.sm-artemed a span.sub-arrow.link,
.sm-artemed .sub-menu span.sub-arrow.link {
	right: 10px;
	left: auto;
}

	/* Hide sub indicator when item is expanded - we enable the item link when it's expanded */
	/* .sm-artemed a.highlighted span.sub-arrow {
		display:none !important;
	} */


/* Items separators
===================*/

	.sm-artemed > li {
		border-left:0;
		border-top:3px solid rgba(255,255,255,1) !important;
	}
	.sm-artemed > li:first-child {
		border-top:0 !important;
	}


	#page-header .ico-block {
		.social {
			margin: 6px 10px 9px 10px;
		}
	}
}
@media screen and (max-width: 556px) {
	#page-header {
		.img-contact {
			width: 56px;
		}
		.company-logo-mobile img {
			margin-top: 8%;
		}
		.navbar-toggle {
			top: 26px;
		}

	}
}
@media screen and (max-width: 485px) {
	#page-header {
		.img-contact {
			width: 46px;
			top: 14px;
		}
		.company-logo-mobile img {
			margin-top: 6%;
		}
		.navbar-toggle {
			top: 18px;
		}
	}
}
@media screen and (max-width: 420px) {
		.sm-artemed {
			a, .sub-menu a {
				/* padding: 18px; */
				font-size: 20px;
			}
			.sub-menu a {
				padding: 15px 0 15px 60px;
			}
		}
	#page-header {
		.img-contact {
			width: 43px;
			top: 10px;
		}
		.navbar-toggle {
			top: 10px;
		}
		.company-logo-mobile img {
			margin-top: 10%;
		}
	}
}
@media screen and (max-width: 387px) {
	#page-header {
		.img-contact {
			
		}
	}
}
.collapse {
    display: none;
    visibility: hidden;
}
