$icons: sprite-map("icons/*.png");

/* SPRITE CLASS GENERATOR :) */

.ico {
	background: $icons;
	margin:0 4px;
	display: inline-block;
	*display: inline;
	*zoom: 1;

	}
@each $i in sprite_names($icons) {
	.#{$i} {
		background-position: sprite-position($icons, $i);
		@include sprite-dimensions($icons, $i);
	}
}
/* SPRITE CLASS GENERATOR - END :) */