.dropdown-submenu{
	position:relative;
	a {
		position:relative;
	}
	&:hover {
		> .dropdown-menu{
			display:block;
		}
	}
	> .dropdown-menu{
		top:0;
		left:100%;
		margin-top:-6px;
		margin-left:-1px;
	}
	> a:after {
		position: absolute;
		display:block;
		content:" ";
		width:0;
		height:0;
		border-color:transparent;
		border-style:solid;
		border-width:5px 0 5px 5px;
		border-left-color:#cccccc;
		right: 7px;
		top: 50%;
		margin-top: -5px;

		&:after {
			border-left-color:#ffffff;
		}
	}
	&.pull-left {
		float: left;
		> .dropdown-menu {
			left:-100%;
			margin-left:10px;
		}
	}
}

.navbar-artemed {
	background: #FFF;
	.container-fluid {
		padding: 0;
	}
	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
		background-color: transparent;
	}
	.navbar-nav {
	/* style ogólne */
		li {
			text-transform: uppercase;
			a {
				
				font-size: 17px; 
				padding: 10px 36px;
				text-align: center;
				color: $link-nav;
				&:hover {
					background-color: transparent;
				}
				span {
					display: inline-block;
					*display: inline;
					*zoom: 1;
					vertical-align: middle;
				}
			}
		}

	/* menu główne */
		> li {
			border-left: 1px solid $main-theme;
			&:first-child {border:0;}
			&.open a:after{
				display: block;
			}
			> a {
				position: relative;
				&:after {
					background: url("../images/icons/arrow-orange-down.png") no-repeat 0 0;
					position: absolute;
					top: -10px;
					left: 50%;
					width: 15px;
					height: 10px;
					margin-left: -7px;
					content:"";
					display: none;
				}
				&:hover:after,&:hover:focus,&:hover:active{
					display: block;
				}
				span.ico {
					margin: 0;
					vertical-align: middle;
				}

			}
		}
	/* submenus  */
		.dropdown-menu {
			min-width: 100%;
			max-width: auto;
			border: 1px solid $nav-border;
			padding: 0;
			li {
				background-image: url("../images/nav_horizontal_separator.png");
				background-repeat: no-repeat;
				background-position: center top;
				&:first-child {
					background: none;
				}
				a {
					display: block;
					padding:10px 15px;
					white-space: normal;
					font-size: 14px;

					span {
						line-height:1.2;
					}
				}
				a:hover, a:focus, a:active {
					background-color: transparent;
				}
			}
			.dropdown-menu {
				top:5px;
			}
			
		}
		.last .dropdown-submenu .dropdown-menu {
				left: auto;
				right: 100%;
		}
	}
}