@import "compass";

// added mixins
@import "sprites";
@import "sm-artemed";
/* @import "submenus"; */

// artemed vars

$main-theme: #ffa929;
$orange-light: #f6e3ba;

$contentbox: #fefaf5;

$link-1: #2093b4;
$link-2: #ffa929;
$link-nav: #828282;

$nav: #d8d8d8;
$nav-border: #ebebeb;
$text: #2c2c2c;

// ACORDION
$text-activ: #FFF;
$apla-active: #d8d8d8;

$text-inactiv: #2c2c2c;
$apla-inactiv: #ffa929;


$mobile-main: #222222;

body{
	font-family: "Open Sans", sans-serif;
	color: $text;
}
.alfa {
	margin-left: 0px !important;
	padding-left: 0px !important;
}
.omega {
	margin-right: 0px !important;
	padding-right: 0px !important;
}
.inblock {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.valign {
	vertical-align: middle;
}
.kr {
	margin: 1% 4%
}
#page-header {
	border-top: 5px solid $main-theme;
	.company-logo {
		margin: 0 0 0 11px;
    	width: 265px;
	}
	nav {
		margin-bottom: 20px;
	}
	.ico-block {
		display:block;
		.social {
			margin: 0 45px 0 8px;
			float: right;
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
		}
	}
	> div > div {
		margin: 15px 0;
	}
}
#page-content {
	> .container {
		background: #fefaf5;
	}
	.img-space {
		margin: 0 auto;
	}
}
#page-footer {
	padding: 20px 0;
}
#accordion {
	.panel {
		border-radius:0;

	}
	.panel-heading {
		border-radius:0;
		background: $nav;
		color: $text;
		padding: 0;
		a {
			display: block;
			padding: 18px 15px;
			
			&:hover,
			&:active,
			&:focus {
					text-decoration: none;
				}
		}
	}
	.panel-body {
		background: #fefaf5;
	}
	img {
		display: block;
		margin: 0 auto;
	}
	/*  div.panel-heading ~ div.panel-collapse.in {
			background: red;
		} */
	.active {
		background: $main-theme;
		color: #fff;
	}
}
.map {
	color: #000;
	a {
		&:hover .ico{
			opacity:1;
		}
		.ico {
			opacity:0.8;
		}
		color: #000;
		&:hover {
			text-decoration: none;
		}
	}
	header {
		padding: 5px 0;
		background: #eaeaea;
		h4 {
			font-weight: 300;
			margin:0;
		}
		address {
			margin: 0;
		}
	}
	.space {
		margin: 0 2.5%;
		max-height: 120px;
	}
}

.contact-block {
	.contact-row {
		margin-top: 10px;
		&:first-child {
			margin-top:0;
		}
	}
	.phone-nbr {
		margin: 7px 0;
	}
	.btn-default {
		padding: 6px 32px 6px 42px;
	}

}

.panel-white {
	background: #FFF;
	.header-gray {
		background: #d8d8d8;
		color: $mobile-main;
	}
	a {
		color: $mobile-main;
	}
}
.knowledge-base {
	
}
.base-item,.base-item-more {
	/* color: $mobile-main; */
	margin: 0 0 20px 0;
	figure {
		margin:0 0 20px 0;
	}
	.description {
		img {
			margin: 0 auto;
		}
	}
}

.btn.btn-left {
	text-align: left;
	padding-left: 0;
	background: $nav;
}
.gallery {
	.personel_link {
		position: relative;
	    display: block;
	    height: 176px;
	    line-height: 174px;
	    width: 100%;
	    margin: 10px 0;
	    overflow: hidden;
	    text-align:center;
		&:after {
			position: absolute;
			@include box-shadow(rgba(black, 0.2) 0 0 0 130px inset);
			z-index: 5;
			content: "";
			left:0;
			top:0;
			width:100%;
			height:100%;
			@include transition-property(all);
			@include transition-duration(0.4s);
			@include transition-timing-function(ease);
		}
		&:hover:after {
			@include box-shadow(rgba(black, 0.2) 0 0 0 0px inset);
		}
	}
	img {
		display: inline;
		vertical-align: middle;
		margin: 0;
		@include transition-property(all);
		@include transition-duration(0.4s);
		@include transition-timing-function(ease);

	}
}
.shop {
	.shop-item {
		background: none repeat scroll 0 0 #f6e3ba;
		border: 5px solid #f6e3ba;
		display: table;
		height: 160px;
		margin: 10px 0;
		width: 100%;
		&:hover {
			background: #FFF;
			border-color: #ff9900;
		}
		a {
			display: table-cell;
			text-align: center;
    		vertical-align: middle;
    		font-size:18px;
    		color: $mobile-main;
    		&:hover {
    			text-decoration: none;
    		}
		}
		.in {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			vertical-align:bottom;
			margin: 0 3px;
		}
		figure {
			display:block;
			margin-right: 10px;
			float: left;
			width: 150px;
			height: 150px;
			overflow: hidden;
			background: #FFF;
		}
		
	}
	.contact-item {
		background: #FFF;
		border-color: #f6e3ba;
		a {
			font-size:14px;
			display: inline;
		}
		.contact-block{
			display:block;
			padding: 24px 20px;
			color: $mobile-main;
		}	
	}
	.item-lvl-1 {
		a {
			text-align: left;
			font-size: 14px;
			width: 100%;

		}

	}
	.modal {
		color: $mobile-main;
		.modal-body {
			h4 {
				font-weight: 700;
			}
			figure {
				float:left;
				margin: 0 15px 0 0;
			}
		}
	}
}
.accordion-table {
	margin: 0;
	tr {
		&:first-child td {
			border:0;
		}
	}
	td {
		border-color: $main-theme !important;
		text-align: right;
		&:first-child {
			text-align:left;
		}
	}
}

.pratners-carousel {
	padding: 0;
	overflow: hidden;

	.slick-prev, .slick-next {
		@include transition-property(all);
		@include transition-duration(0.4s);
		@include transition-timing-function(ease);
	}

	&:hover .slick-prev {
		left: 8px
	}
	&:hover .slick-next {
		right: 8px;
	}
	.partner-item {
		width:150px;
		height: 150px;
		line-height: 150px;
		margin: 0 auto;
		overflow: hidden;
		a {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			vertical-align: middle;
		}
	}
}
#slider-container {
	color: #222222;
	.contact_button_slider {
		background: #ffa929;
		color: #fff;
		font-size: 14px;
		font-weight: 600;
		height: 35px;
		margin-top: 10px;
		text-transform: uppercase;
		width: 200px;
		border:0;
		&:hover {
			background: #f59300;
		}
	}
	.ws_images > div:last-child {
		display: none;
	}
	.ws_images  a input {
		display: none;
	}
}
	#accordion {
		.panel-heading {
			position: relative;
			a {
				font-size: 16px;
				line-height: 16px;
				padding-bottom: 16px;
			 	padding-left: 70px;
				padding-top: 16px;
			}
			.sub-arrow {
				background-image: url('../images/icons/arrow-white-right.png');
				background-position: 0 0;
				background-repeat: no-repeat;
				height: 41px;
				line-height: 41px;
				width: 41px;
				@include transition-property(all);
				@include transition-duration(0.2s);
				@include transition-timing-function(ease);
				position: absolute;
				left: 20px;
				top: 50%;
    			margin-top: -20px;
			}
		}

		.lvl-2 {
			a {
				padding-left: 15px;
			}
			.sub-arrow.link {
				left: auto;
				right: 20px;
			}
		}
		.active {
			.sub-arrow {
				margin-top: -21px;
				-moz-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
			}
		}
	}
/* QURY SECTIONS */
@media screen and (max-width: 1200px) {
	.map {
		.space {
			
			margin: 0 1%;
		}
	}
	#page-header {
		.company-logo {
			margin: 0;
    		width: 232px;
		}
		.ico-block {
			.social {
				margin: 0 23px 0 17px;
			}
		}
	}
	.gallery {
		.personel_link {
			height: 143px;
    		line-height: 143px;
		}
	}
}
@media screen and (max-width: 992px) {
	#page-header {
		.company-logo {
			width: 257px;
		}
	}
	.kontakt {
		.panel-heading {
			font-size:34px;
			font-weight: 400;
			strong {
				font-weight: 400;
			}
		}
		.panel-body {
			font-size: 20px;
		}
	}
	.map {
		header {
			text-align: center;
			address {
				padding: 10px 0;
			}
		}
		
	}
	.panel-default {
		.panel-heading {
			font-size: 34px;
		}
	}
	.panel-white {
		background: #FFF;
		.panel-heading {
			font-size: 34px;
		}
		.header-gray {
			background: #d8d8d8;
			color: $mobile-main;
		}
		a {
			font-size: 34px;
			color: $mobile-main;
		}
	}
	.gallery {
		.personel_link {
			height: 176px;
		    line-height: 143px;
		    margin: 10px auto;
		    max-width: 262px;
		}
	}
}
@media screen and (max-width: 768px) {
	.base-item {
		figure {
			margin: 0;
		}
		.description {
			padding: 10px 20px;
			background: $nav;
			span {
				display:block;
			}
			h2 {
				margin: 0;
				display: inline-block;
				*display: inline;
				*zoom: 1;
			}
		}
	}
	.base-item-more {
		figure {
			margin:0 0 20px 0;
		}
		.description {
			img {
				margin: 0 auto;
			}
			h2 {
				margin-top: 0;
			}
		}
	}

}
@media screen and (max-width: 420px) {
	.kontakt {
		.panel-heading {
			font-size:20px;
		}
		.panel-body {
			font-size: 14px;
		}
	}
	.panel-default .panel-heading {
		font-size: 20px;
	}
	.panel-white {
		.panel-heading {
			font-size: 20px;
		}
		a {
			font-size: 20px;
		}
	}

	.shop {
		.modal {
			.modal-body {
				figure {
					float:none;
				}
			}
		}
	}
	#accordion {
		.panel-heading {
			position: relative;
			a {
				font-size: 20px;

			}
		}
	}

}
