@charset "UTF-8";
/* SPRITE CLASS GENERATOR :) */
.ico {
  background: url('../images/icons-s0cc96be3af.png');
  margin: 0 4px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.arrow-orange-bottom {
  background-position: 0 0;
  height: 41px;
  width: 41px;
}

.arrow-orange-down {
  background-position: 0 -41px;
  height: 10px;
  width: 15px;
}

.arrow-orange-right {
  background-position: 0 -51px;
  height: 41px;
  width: 41px;
}

.arrow-white-bottom {
  background-position: 0 -92px;
  height: 41px;
  width: 41px;
}

.arrow-white-right {
  background-position: 0 -133px;
  height: 41px;
  width: 41px;
}

.contact {
  background-position: 0 -174px;
  height: 56px;
  width: 66px;
}

.ct {
  background-position: 0 -230px;
  height: 44px;
  width: 52px;
}

.fb {
  background-position: 0 -274px;
  height: 44px;
  width: 44px;
}

.flag {
  background-position: 0 -318px;
  height: 44px;
  width: 66px;
}

.home {
  background-position: 0 -362px;
  height: 22px;
  width: 22px;
}

.home_hover {
  background-position: 0 -384px;
  height: 22px;
  width: 22px;
}

.iso {
  background-position: 0 -406px;
  height: 44px;
  width: 44px;
}

.jakdojade {
  background-position: 0 -450px;
  height: 42px;
  width: 39px;
}

.nfz {
  background-position: 0 -492px;
  height: 50px;
  width: 123px;
}

.nowa_strzalka {
  background-position: 0 -542px;
  height: 41px;
  width: 41px;
}

/* SPRITE CLASS GENERATOR - END :) */
.trans {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.navbar.navbar-default {
  border-radius: 0;
}

/* #main-navigation li:first-child a{
	padding: 5px 37px;
} */
/* Menu box
===================*/
.sm-artemed span.home-txt {
  display: none;
}
.sm-artemed ul {
  border: 1px solid #ebebeb;
  background: #fff;
}
.sm-artemed .sub-menu {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 6px 0;
}
.sm-artemed .sub-menu ul {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 6px 0;
}
.sm-artemed .sub-menu a {
  font-size: 14px;
}
.sm-artemed .sub-menu .sub-arrow:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 6px;
  /* tweak size of the arrow */
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #828282;
  content: "";
  left: 0;
  top: 0;
}

/* Menu items
===================*/
.sm-artemed {
  /* li:first-child a {
  	padding-bottom: 9px;
      		padding-top: 9px;
  } */
}
.sm-artemed a {
  padding: 12px 40px;
  color: #828282;
  font-size: 18px;
  line-height: 18px;
  font-family: 'Open Sans',Arial,sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.sm-artemed > li > a:after {
  background: url("../images/icons/arrow-orange-down.png") no-repeat 0 0;
  position: absolute;
  top: -10px;
  left: 50%;
  width: 15px;
  height: 10px;
  margin-left: -7px;
  content: "";
  display: none;
}
.sm-artemed > li > a.omega:after {
  left: 93px;
}
.sm-artemed > li:first-child > a:after {
  left: 14px;
}

.sm-artemed li > a:hover:after,
.sm-artemed li > a:focus:after,
.sm-artemed li > a:active:after,
.sm-artemed li > a.highlighted:after {
  display: block;
}

.sm-artemed li > a:hover,
.sm-artemed li > a:focus,
.sm-artemed li > a:active,
.sm-artemed li > a.active,
.sm-artemed li > a.highlighted {
  color: #ffa929;
}

.sm-artemed li > a:hover .ico.home,
.sm-artemed li > a:focus .ico.home,
.sm-artemed li > a:active .ico.home,
.sm-artemed li > a.active .ico.home,
.sm-artemed li > a.highlighted .ico.home {
  background-position: 0 -384px;
}

/* current items - add the class manually to some item or check the "markCurrentItem" script option */
/* 	.sm-artemed a.current, .sm-artemed a.current:hover, .sm-artemed a.current:focus, .sm-artemed a.current:active {
	background:#555;
	color:#fff;
}
.sm-artemed a.has-submenu {
	padding-right:32px;
}
 	.sm-artemed ul a.has-submenu,
.sm-artemed-vertical a.has-submenu {
	padding-right:23px;
} */
/* Sub menu indicators
===================*/
.sm-artemed a span.sub-arrow {
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  line-height: 12px;
}

.sm-artemed ul a span.sub-arrow,
.sm-artemed-vertical a span.sub-arrow {
  right: 2;
  margin-right: 0;
}

/* Items separators
===================*/
.sm-artemed li {
  border-left: 1px solid #ffa929;
}

.sm-artemed li:first-child {
  border-left: 0;
}

.sm-artemed ul li,
.sm-artemed-vertical li {
  border-left: 0;
  /* border-top: 1px solid $main-theme; */
  background-image: url("../images/nav_horizontal_separator.png");
  background-repeat: no-repeat;
  background-position: center 0;
}

.sm-artemed ul li:first-child,
.sm-artemed-vertical li:first-child {
  border-top: 0;
  background-image: none;
}

/* Scrolling arrows containers for tall sub menus - test sub menu: "Sub test" -> "more..." -> "more..." in the default download package
===================*/
.sm-artemed span.scroll-up, .sm-artemed span.scroll-down {
  position: absolute;
  display: none;
  visibility: hidden;
  overflow: hidden;
  border: solid #bbb;
  border-width: 1px 0;
  background: #fff;
  height: 22px;
  /* width and position will be automatically set by the script */
}

.sm-artemed span.scroll-up-arrow, .sm-artemed span.scroll-down-arrow {
  position: absolute;
  top: -2px;
  left: 50%;
  margin-left: -8px;
  /* we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too */
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 8px;
  /* tweak size of the arrow */
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #555 transparent;
}

.sm-artemed span.scroll-down-arrow {
  top: 6px;
  border-style: solid dashed dashed dashed;
  border-color: #555 transparent transparent transparent;
}

/* Kombinacje z hamburgerem w celu po┼éaczenia z menu bootstrapa nadpisywanie klass bootstrapa */
#page-header {
  /* bergerking :P */
}
#page-header .navbar {
  border: 0;
  min-height: 40px;
  position: relative;
  z-index: 100;
}
#page-header .navbar-default {
  background: #FFF;
}
#page-header .navbar-toggle {
  left: 7%;
  margin: 0;
  position: absolute;
  top: 31px;
}
#page-header .cover-foto {
  height: 27%;
  margin: 0;
}
#page-header .company-logo-mobile {
  float: none;
  display: block;
  margin: 0 auto;
}
#page-header .company-logo-mobile img {
  margin: 4% auto;
}
#page-header .img-contact {
  display: block;
  position: absolute;
  right: 6%;
  top: 20px;
}

.navbar .navbar-toggle:hover .icon-bar, .navbar .navbar-toggle:active .icon-bar, .navbar .navbar-toggle:focus .icon-bar, .navbar .navbar-toggle.active .icon-bar {
  background-color: #FFF;
}

.navbar .lvl-2 {
  background: #d8d8d8;
}

/*
---------------------------------------------------------------
  Responsiveness
  These will make the sub menus collapsible when the screen width is too small.
---------------------------------------------------------------*/
@media screen and (max-width: 1199px) {
  .sm-artemed a {
    padding: 12px 26px;
    font-size: 17px;
  }
}
@media screen and (max-width: 992px) {
  /* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */
  ul.sm-artemed {
    width: auto !important;
  }

  ul.sm-artemed ul {
    display: none;
    position: static !important;
    top: auto !important;
    left: auto !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    width: auto !important;
    min-width: 0 !important;
    max-width: none !important;
  }

  ul.sm-artemed > li {
    float: none;
  }

  ul.sm-artemed > li > a, ul.sm-artemed ul.sm-nowrap > li > a {
    white-space: normal;
  }

  ul.sm-artemed iframe {
    display: none;
  }

  /* Uncomment this rule to disable completely the sub menus for small screen devices */
  /*.sm-artemed ul, .sm-artemed span.sub-arrow, .sm-artemed iframe {
  	display:none !important;
  }*/
  /* Menu box
  ===================*/
  .sm-artemed ul {
    border: 0;
    /* darken the background of the sub menus */
    /* background:rgba(255,169,41,0.2); */
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* Menu items
  ===================*/
  .sm-artemed li > a:hover:after,
  .sm-artemed li > a:focus:after,
  .sm-artemed li > a:active:after,
  .sm-artemed li > a.highlighted:after {
    display: none;
  }

  .sm-artemed li > a:hover,
  .sm-artemed li > a:focus,
  .sm-artemed li > a:active,
  .sm-artemed li > a.active,
  .sm-artemed li > a.highlighted {
    color: #FFF;
    background: #f59300;
  }

  .sm-artemed .ico.home {
    display: none;
  }
  .sm-artemed span.home-txt {
    display: block;
  }
  .sm-artemed a {
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 70px;
    /* background:transparent !important; */
    color: #fff;
    font-size: 34px;
    text-align: left;
  }
  .sm-artemed a.current {
    background: #555 !important;
    color: #fff !important;
  }
  .sm-artemed a.has-submenu {
    padding-right: 23px;
  }
  .sm-artemed .sub-menu {
    -moz-box-shadow: transparent 0 0 0 0;
    -webkit-box-shadow: transparent 0 0 0 0;
    box-shadow: transparent 0 0 0 0;
  }
  .sm-artemed .sub-menu li > a:hover,
  .sm-artemed .sub-menu li > a:focus,
  .sm-artemed .sub-menu li > a:active,
  .sm-artemed .sub-menu li > a.active,
  .sm-artemed .sub-menu li > a.highlighted {
    color: #ffa929;
    background: none;
  }
  .sm-artemed .sub-menu ul {
    -moz-box-shadow: transparent 0 0 0 0;
    -webkit-box-shadow: transparent 0 0 0 0;
    box-shadow: transparent 0 0 0 0;
  }
  .sm-artemed .sub-menu a {
    color: #828282;
    font-size: 30px;
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sm-artemed ul li {
    border-top: 0;
    background-image: none !important;
  }
  .sm-artemed > li > a {
    background-color: #ffa929;
  }

  /* add some text indentation for the 2+ level sub menu items */
  .sm-artemed ul a {
    border-left: 20px solid transparent;
  }

  .sm-artemed ul ul a {
    border-left: 35px solid transparent;
  }

  .sm-artemed ul ul ul a {
    border-left: 45px solid transparent;
  }

  .sm-artemed ul ul ul ul a {
    border-left: 55px solid transparent;
  }

  .sm-artemed ul ul ul ul ul a {
    border-left: 65px solid transparent;
  }

  /* Sub menu indicators
  ===================*/
  /* 	.sm-artemed a span.sub-arrow,
  .sm-artemed .sub-menu span.sub-arrow {
  	height: 30px;
      line-height: 30px;
      margin-top: -15px;
      position: absolute;
      right: 30px;
      top: 50%;
      width: 30px;
      &:after {
      	@include transition-property(all);
  		@include transition-duration(0.2s);
  		@include transition-timing-function(ease);
  		position: absolute;
  		width:0;
  		height:0;
  		overflow:hidden;
  		border-width: 15px; tweak size of the arrow
  		border-style:dashed solid dashed dashed;
  		border-color:transparent #FFF transparent transparent;
  		content: "";
  		left:0;
  		top: 0;
      }
  }
  .sm-artemed a.highlighted span.sub-arrow,
  .sm-artemed .sub-menu a.highlighted span.sub-arrow {
  	margin-top: -15px;
      	right: 30px;
  	&:after {
  		-moz-transform: rotate(-90deg);
  		-webkit-transform: rotate(-90deg);
  		-o-transform: rotate(-90deg);
  		-ms-transform: rotate(-90deg);
  		transform: rotate(-90deg);
  	}
  } */
  .sm-artemed a span.sub-arrow,
  .sm-artemed .sub-menu span.sub-arrow {
    background-image: url("../images/icons/arrow-white-right.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 41px;
    line-height: 41px;
    width: 41px;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -20px;
  }
  .sm-artemed a span.sub-arrow:after,
  .sm-artemed .sub-menu span.sub-arrow:after {
    border: 0px;
  }

  .sm-artemed .sub-menu span.sub-arrow {
    left: 12px;
  }

  .sm-artemed .sub-menu {
    /* 		.has-submenu {
    	padding-left: 64px;
    
    } */
  }
  .sm-artemed .sub-menu span.sub-arrow {
    background-image: url("../images/icons/arrow-orange-right.png");
  }

  .sm-artemed a.highlighted span.sub-arrow,
  .sm-artemed .sub-menu a.highlighted span.sub-arrow {
    margin-top: -21px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .sm-artemed a span.sub-arrow.link,
  .sm-artemed .sub-menu span.sub-arrow.link {
    right: 10px;
    left: auto;
  }

  /* Hide sub indicator when item is expanded - we enable the item link when it's expanded */
  /* .sm-artemed a.highlighted span.sub-arrow {
  	display:none !important;
  } */
  /* Items separators
  ===================*/
  .sm-artemed > li {
    border-left: 0;
    border-top: 3px solid white !important;
  }

  .sm-artemed > li:first-child {
    border-top: 0 !important;
  }

  #page-header .ico-block .social {
    margin: 6px 10px 9px 10px;
  }
}
@media screen and (max-width: 556px) {
  #page-header .img-contact {
    width: 56px;
  }
  #page-header .company-logo-mobile img {
    margin-top: 8%;
  }
  #page-header .navbar-toggle {
    top: 26px;
  }
}
@media screen and (max-width: 485px) {
  #page-header .img-contact {
    width: 46px;
    top: 14px;
  }
  #page-header .company-logo-mobile img {
    margin-top: 6%;
  }
  #page-header .navbar-toggle {
    top: 18px;
  }
}
@media screen and (max-width: 420px) {
  .sm-artemed a, .sm-artemed .sub-menu a {
    /* padding: 18px; */
    font-size: 20px;
  }
  .sm-artemed .sub-menu a {
    padding: 15px 0 15px 60px;
  }

  #page-header .img-contact {
    width: 43px;
    top: 10px;
  }
  #page-header .navbar-toggle {
    top: 10px;
  }
  #page-header .company-logo-mobile img {
    margin-top: 10%;
  }
}
.collapse {
  display: none;
  visibility: hidden;
}

/* @import "submenus"; */
body {
  font-family: "Open Sans", sans-serif;
  color: #2c2c2c;
}

.alfa {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

.omega {
  margin-right: 0px !important;
  padding-right: 0px !important;
}

.inblock {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.valign {
  vertical-align: middle;
}

.kr {
  margin: 1% 4%;
}

#page-header {
  border-top: 5px solid #ffa929;
}
#page-header .company-logo {
  margin: 0 0 0 11px;
  width: 265px;
}
#page-header nav {
  margin-bottom: 20px;
}
#page-header .ico-block {
  display: block;
}
#page-header .ico-block .social {
  margin: 0 45px 0 8px;
  float: right;
  opacity: 0.8;
}
#page-header .ico-block .social:hover {
  opacity: 1;
}
#page-header > div > div {
  margin: 15px 0;
}

#page-content > .container {
  background: #fefaf5;
}
#page-content .img-space {
  margin: 0 auto;
}

#page-footer {
  padding: 20px 0;
}

#accordion {
  /*  div.panel-heading ~ div.panel-collapse.in {
  		background: red;
  	} */
}
#accordion .panel {
  border-radius: 0;
}
#accordion .panel-heading {
  border-radius: 0;
  background: #d8d8d8;
  color: #2c2c2c;
  padding: 0;
}
#accordion .panel-heading a {
  display: block;
  padding: 18px 15px;
}
#accordion .panel-heading a:hover, #accordion .panel-heading a:active, #accordion .panel-heading a:focus {
  text-decoration: none;
}
#accordion .panel-body {
  background: #fefaf5;
}
#accordion img {
  display: block;
  margin: 0 auto;
}
#accordion .active {
  background: #ffa929;
  color: #fff;
}

.map {
  color: #000;
}
.map a {
  color: #000;
}
.map a:hover .ico {
  opacity: 1;
}
.map a .ico {
  opacity: 0.8;
}
.map a:hover {
  text-decoration: none;
}
.map header {
  padding: 5px 0;
  background: #eaeaea;
}
.map header h4 {
  font-weight: 300;
  margin: 0;
}
.map header address {
  margin: 0;
}
.map .space {
  margin: 0 2.5%;
  max-height: 120px;
}

.contact-block .contact-row {
  margin-top: 10px;
}
.contact-block .contact-row:first-child {
  margin-top: 0;
}
.contact-block .phone-nbr {
  margin: 7px 0;
}
.contact-block .btn-default {
  padding: 6px 32px 6px 42px;
}

.panel-white {
  background: #FFF;
}
.panel-white .header-gray {
  background: #d8d8d8;
  color: #222222;
}
.panel-white a {
  color: #222222;
}

.base-item, .base-item-more {
  /* color: $mobile-main; */
  margin: 0 0 20px 0;
}
.base-item figure, .base-item-more figure {
  margin: 0 0 20px 0;
}
.base-item .description img, .base-item-more .description img {
  margin: 0 auto;
}

.btn.btn-left {
  text-align: left;
  padding-left: 0;
  background: #d8d8d8;
}

.gallery .personel_link {
  position: relative;
  display: block;
  height: 176px;
  line-height: 174px;
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
  text-align: center;
}
.gallery .personel_link:after {
  position: absolute;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 130px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 130px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 130px inset;
  z-index: 5;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.gallery .personel_link:hover:after {
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 0px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 0px inset;
}
.gallery img {
  display: inline;
  vertical-align: middle;
  margin: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.shop .shop-item {
  background: none repeat scroll 0 0 #f6e3ba;
  border: 5px solid #f6e3ba;
  display: table;
  height: 160px;
  margin: 10px 0;
  width: 100%;
}
.shop .shop-item:hover {
  background: #FFF;
  border-color: #ff9900;
}
.shop .shop-item a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  color: #222222;
}
.shop .shop-item a:hover {
  text-decoration: none;
}
.shop .shop-item .in {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: bottom;
  margin: 0 3px;
}
.shop .shop-item figure {
  display: block;
  margin-right: 10px;
  float: left;
  width: 150px;
  height: 150px;
  overflow: hidden;
  background: #FFF;
}
.shop .contact-item {
  background: #FFF;
  border-color: #f6e3ba;
}
.shop .contact-item a {
  font-size: 14px;
  display: inline;
}
.shop .contact-item .contact-block {
  display: block;
  padding: 24px 20px;
  color: #222222;
}
.shop .item-lvl-1 a {
  text-align: left;
  font-size: 14px;
  width: 100%;
}
.shop .modal {
  color: #222222;
}
.shop .modal .modal-body h4 {
  font-weight: 700;
}
.shop .modal .modal-body figure {
  float: left;
  margin: 0 15px 0 0;
}

.accordion-table {
  margin: 0;
}
.accordion-table tr:first-child td {
  border: 0;
}
.accordion-table td {
  border-color: #ffa929 !important;
  text-align: right;
}
.accordion-table td:first-child {
  text-align: left;
}

.pratners-carousel {
  padding: 0;
  overflow: hidden;
}
.pratners-carousel .slick-prev, .pratners-carousel .slick-next {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.pratners-carousel:hover .slick-prev {
  left: 8px;
}
.pratners-carousel:hover .slick-next {
  right: 8px;
}
.pratners-carousel .partner-item {
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin: 0 auto;
  overflow: hidden;
}
.pratners-carousel .partner-item a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

#slider-container {
  color: #222222;
}
#slider-container .contact_button_slider {
  background: #ffa929;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  margin-top: 10px;
  text-transform: uppercase;
  width: 200px;
  border: 0;
}
#slider-container .contact_button_slider:hover {
  background: #f59300;
}
#slider-container .ws_images > div:last-child {
  display: none;
}
#slider-container .ws_images a input {
  display: none;
}

#accordion .panel-heading {
  position: relative;
}
#accordion .panel-heading a {
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 16px;
  padding-left: 70px;
  padding-top: 16px;
}
#accordion .panel-heading .sub-arrow {
  background-image: url("../images/icons/arrow-white-right.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 41px;
  line-height: 41px;
  width: 41px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -20px;
}
#accordion .lvl-2 a {
  padding-left: 15px;
}
#accordion .lvl-2 .sub-arrow.link {
  left: auto;
  right: 20px;
}
#accordion .active .sub-arrow {
  margin-top: -21px;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* QURY SECTIONS */
@media screen and (max-width: 1200px) {
  .map .space {
    margin: 0 1%;
  }

  #page-header .company-logo {
    margin: 0;
    width: 232px;
  }
  #page-header .ico-block .social {
    margin: 0 23px 0 17px;
  }

  .gallery .personel_link {
    height: 143px;
    line-height: 143px;
  }
}
@media screen and (max-width: 992px) {
  #page-header .company-logo {
    width: 257px;
  }

  .kontakt .panel-heading {
    font-size: 34px;
    font-weight: 400;
  }
  .kontakt .panel-heading strong {
    font-weight: 400;
  }
  .kontakt .panel-body {
    font-size: 20px;
  }

  .map header {
    text-align: center;
  }
  .map header address {
    padding: 10px 0;
  }

  .panel-default .panel-heading {
    font-size: 34px;
  }

  .panel-white {
    background: #FFF;
  }
  .panel-white .panel-heading {
    font-size: 34px;
  }
  .panel-white .header-gray {
    background: #d8d8d8;
    color: #222222;
  }
  .panel-white a {
    font-size: 34px;
    color: #222222;
  }

  .gallery .personel_link {
    height: 176px;
    line-height: 143px;
    margin: 10px auto;
    max-width: 262px;
  }
}
@media screen and (max-width: 768px) {
  .base-item figure {
    margin: 0;
  }
  .base-item .description {
    padding: 10px 20px;
    background: #d8d8d8;
  }
  .base-item .description span {
    display: block;
  }
  .base-item .description h2 {
    margin: 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }

  .base-item-more figure {
    margin: 0 0 20px 0;
  }
  .base-item-more .description img {
    margin: 0 auto;
  }
  .base-item-more .description h2 {
    margin-top: 0;
  }
}
@media screen and (max-width: 420px) {
  .kontakt .panel-heading {
    font-size: 20px;
  }
  .kontakt .panel-body {
    font-size: 14px;
  }

  .panel-default .panel-heading {
    font-size: 20px;
  }

  .panel-white .panel-heading {
    font-size: 20px;
  }
  .panel-white a {
    font-size: 20px;
  }

  .shop .modal .modal-body figure {
    float: none;
  }

  #accordion .panel-heading {
    position: relative;
  }
  #accordion .panel-heading a {
    font-size: 20px;
  }
}
